# Dependencias
node_modules/
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de sistema y editores
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
.vscode/

# Ignorar archivos markdown de trabajo excepto los documentos maestros del proyecto
*.md
!README.md
!TODO.md
!MEJORAS_E_IMPLEMENTACIONES_AGROTECH.md
!reference/*.md

